Source: xenta-icons
Section: gnome
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/xenta-icons
Vcs-Browser: https://github.com/xentaoslinux/xenta-icons.git

Package: xenta-icons
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paket Pasangan Xenta-X icon theme.
 Icon theme bawaan Xenta OS, untuk pasangan Xenta-X icon theme.
